OWM_API_KEY=remplacer_par_ta_cle
AWS_ACCESS_KEY_ID=remplacer
AWS_SECRET_ACCESS_KEY=remplacer
AWS_REGION=eu-west-3
S3_BUCKET_NAME=tourisme-france-lake
RDS_HOST=ton-instance.rds.amazonaws.com
RDS_PORT=5432
RDS_DB=tourisme
RDS_USER=admin
RDS_PASSWORD=remplacer
